<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128915966971-3tm464hj8t5tko9eg9626jk5pn2qksv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128915966971-3tm464hj8t5tko9eg9626jk5pn2qksv8</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Aozxzzbas3PA5nNgVS6Ae3kDquqSHJA</string>
	<key>GCM_SENDER_ID</key>
	<string>128915966971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hwanghooo.StudyMate</string>
	<key>PROJECT_ID</key>
	<string>studymate-2b503</string>
	<key>STORAGE_BUCKET</key>
	<string>studymate-2b503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128915966971:ios:208cc74c8e91270b65d95e</string>
</dict>
</plist>